* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url("img/background.jpg") no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
  font-family: monospace;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.pokedex {
  width: 860px;
  height: 600px;
  margin: auto;
  margin-top: 15%;
  padding: 10px;
  display: flex;
}

.left {
  width: 400px;
  height: 600px;
  background: red;
  border-radius: 5%;
  padding: 10px;
  position: relative;
}

.middle {
  width: 60px;
  height: 600px;
  background: darkred;
  border-radius: 10%;
}

.right {
  width: 400px;
  height: 550px;
  background: red;
  margin-top: 50px;
  border-radius: 5%;
  padding: 10px;
}

.screen-backing {
  width: 340px;
  height: 300px;
  background: lightgray;
  border-radius: 5%;
  border-bottom-left-radius: 25%;
  margin-top: 50px;
  margin-left: 20px;
  padding: 5px;
}

.left-screen {
  width: 300px;
  height: 200px;
  background: white;
  border-radius: 5%;
  border: solid black;
  margin-top: 20px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: red;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 0 5px gray;
}

.circle-btn:active {
  background-color: darkred;
  box-shadow: 0 0 2px gray;
  transform: translateY(2px);
}

.screen-btn {
  margin-top: 15px;
  margin-left: 30px;
}

.camera {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: aqua;
  border: 5px solid white;
  margin: 0;
}

.ll-btn {
  height: 65px;
  width: 65px;
  background-color: blue;
  margin-top: 40px;
  margin-left: 20px;
  box-shadow: 0 0 10px gray;
}

.ll-btn:active {
  background-color: darkblue;
  box-shadow: 0 0 5px gray;
  transform: translateY(2px);
}

.poke-index {
  width: 80px;
  height: 50px;
  border-radius: 10%;
  margin-left: 60px;
  margin-right: 5px;
  background-color: lime;
  border: 1px solid teal;
  outline: none;
  text-align: center;
  font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.control {
  margin-left: 300px;
  background-color: #333;
  display: flex;
}

.btn-ctrl {
  background-color: #333;
  width: 30px;
  height: 30px;
  outline: none;
}

.right-screen {
  width: 340px;
  height: 200px;
  padding: 5px;
  background-color: lime;
  border-radius: 5%;
  box-shadow: 0 0 5px black;
  margin-left: 20px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-grd {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  grid-gap: 15px;
  margin-left: 55px;
  margin-top: 20px;
}

.btn-rect {
  width: 50px;
  height: 40px;
  background-color: blue;
  border-radius: 2%;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 8px black;
}

.btn-rect:active {
  transform: translateY(1px);
  box-shadow: 0 0 5px black;
  background-color: darkblue;
}

.btn-flex {
  display: flex;
  margin-top: 20px;
  margin-left: 40px;
  width: 300px;
  justify-content: space-around;
}

.btn-sm {
  width: 15px;
  height: 15px;
  background-color: darkblue;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 1px black;
}

.btn-sm:active {
  transform: translateY(1px);
  box-shadow: 0 0 0px black;
}

.oval-btn {
  height: 15px;
  width: 60px;
  border-radius: 30%;
  background-color: darkblue;
  outline: none;
  border: 1px solid #333;
  box-shadow: 0 0 3px black;
}

.oval-btn:active {
  transform: translateY(2px);
  box-shadow: 0 0 0px black;
}

.btn-g {
  background-color: green;
}

.btn-g:active {
  background-color: darkgreen;
}

.btn-o {
  background-color: orange;
}

.btn-o:active {
  background-color: darkorange;
}

.btn-t {
  background-color: teal;
}

.btn-t:active {
  background-color: darkslategray;
}

.btn-y {
  background-color: yellow;
}

.btn-y:active {
  background-color: goldenrod;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 8px;
  box-shadow: 0 0 5px black;
}

.red {
  background-color: darkred;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.left-screen img {
  height: 95%;
  width: auto;
  max-width: 290px;
}

.ctrl-pad {
  position: absolute;
  left: 260px;
}

.up-pad {
  position: absolute;
  bottom: 40px;
  left: 40px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}

.right-pad {
  position: absolute;
  left: 70px;
  bottom: 10px;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
}

.down-pad {
  position: absolute;
  left: 40px;
  bottom: -20px;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.left-pad {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.square {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #111;
  left: 40px;
  bottom: 10px;
}
